#version=RHEL7
# Install OS instead of upgrade
install

# Install from an installation tree on a remote server 
# Required when using a minimal ISO
url --url=http://orion.upgradenet.co.za/centos/7/os/x86_64/

text
poweroff

# System keyboard
keyboard us

# System language
lang en_ZA.UTF-8

# Setup network interfaces via DHCP
network --device=eth0 --bootproto=dhcp --onboot=yes

#set root pw here (required by KS), remove pw in post
rootpw temp
firewall --disabled
authconfig --enableshadow --passalgo=sha512
firstboot --disabled

# SELinux configuration
# By default, selinux is enforcing
selinux --disabled

# System timezone
timezone Africa/Johannesburg --isUtc

# System bootloader configuration
bootloader --location=mbr --driveorder=vda --append="tsc=reliable divider=10 plymouth.enable=0 console=ttyS0" 

# Clear the Master Boot Record
zerombr

# Create root partitions, no LVM
part / --fstype=xfs --size=1 --grow

# Partition clearing information
clearpart --all --initlabel

%packages --nobase
sendmail
-postfix

%end

%post --log=/var/log/ks.post02.log
#!/bin/bash

# Remove root password
echo "Removing root password"
passwd -d root

## Build date used for motd and product file
BUILDDATE=`date +%Y%m%d`
NAME="CentOS 7.1 (1503)"
DOCS="http://www.leonux.co.za"

# Create MOTD
echo "Creating /etc/motd"
mv /etc/motd /etc/motd-backup
cat << MOTD > /etc/motd
______              _____   __
___  / _____ ______ ___  | / /____  ______  __
__  /  _  _ \_  __ \__   |/ / _  / / /__  |/_/
_  /___/  __// /_/ /_  /|  /  / /_/ / __>  <
/_____/\___/ \____/ /_/ |_/   \__,_/  /_/|_|
Instance ($NAME $BUILDDATE)
$DOCS

MOTD

# MOTD symlinks
echo "Creating /etc/motd symlinks"
ln -sf /etc/motd /etc/issue
ln -sf /etc/motd /etc/issue.net

# Create product file
echo "Creating /etc/product file"
cat << PRODUCT > /etc/product
Name: LeoNux Instance
Image: $NAME $BUILDDATE
Documentation: $DOCS
Description: $NAME 64-bit image with just essential packages installed. Ideal for users who are comfortable with setting up their own environment and tools.
PRODUCT

# Make sure we have the latest packages
echo "Updating packages"
yum clean all
yum update -y

# install epel repo
yum -y install http://download.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-5.noarch.rpm

# Clean up all yum caches
echo "Cleaning up yum caches"
yum clean all

# Clean up network devices
echo "Cleaning up network devices"
rm -f /etc/udev/rules.d/70-persistent-net.rules
find /etc/sysconfig/network-scripts -name "ifcfg-eth*" -exec rm -f '{}' +
find /var/lib/dhclient -type f -exec rm -f '{}' +

# Remove hostname
echo "Clearing out /etc/hostname"
cat /dev/null > /etc/hostname

# Tune Linux vm.dirty_background_bytes
# The following tuning causes dirty data to begin to be background flushed at
# 100 Mbytes, so that it writes earlier and more often to avoid a large build
# up and improving overall throughput.
echo "Setting vm.dirty_background_bytes"
echo "vm.dirty_background_bytes=100000000" >> /etc/sysctl.conf 

# Disable password auth. SSH logon is via ssh key only. A password is being set
# for root via the image manifest per IMAGE-459.
echo "Disabling password auth in sshd_config"
sed s/PasswordAuthentication\ yes/PasswordAuthentication\ no/ -i /etc/ssh/sshd_config

# Disable Avahi
echo "Disabling Avahi"
systemctl disable avahi-daemon.service 

# Disable kdump
echo "Disabling kdump"
systemctl disable kdump.service

echo "End of Kickstart"

%end

